{
  "tabWidth": 4,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSpacing": true,
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.html", "*.css", "*.js", "*.json"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}