body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1;
}

body {
  font-family: "SF Pro", sans-serif;
  background: #f9fafb;
  margin: 0;
  color: #111827;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.adminRight {
  flex: 1;
  bg-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
  overflow: hidden;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 12px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dashboardContent::-webkit-scrollbar {
  display: none;
}

.cardContainer {
  display: flex;
  gap: 1rem;
}

.infoCard {
  flex: 1;
  padding: 1rem;
  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  font-size: 14px;
  transition: all 0.18s ease-in-out;
  background-clip: padding-box;
}

.infoCard .value {
  font-size: 1.25rem;
  font-weight: 600;
}

.infoCard .change {
  font-size: 0.85rem;
  color: #6b7280;
}

.contentRow {
  display: flex;
  gap: 1rem;
}

.chartHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cardBox,
.chartBox {
  flex: 1;
  height: 400px;
  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  font-size: 14px;
  transition: all 0.18s ease-in-out;
  background-clip: padding-box;
}

.platformStatus li,
.recentTickets li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f4f6;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
}

.recentTickets li:hover {
  background: rgba(241, 241, 241, 1);
  cursor: pointer;
}

.ticketItem .status {
  margin-left: auto;
}

#dashError {
  font-size: 14px;
}

.infoCard[aria-busy="true"] {
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.04) 25%,
    rgba(0, 0, 0, 0.08) 37%,
    rgba(0, 0, 0, 0.04) 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
}

.manageTicketsBtnContainer {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 10;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.formGrid label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.formGrid input,
.formGrid select {
  padding: 10px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background: #fff;
  color: #111827;
  outline: none;
  z-index: 3;
  font-size: 14px;
}
