@font-face {
  font-family: "Poppins";
  src: url("../../../../public/assets/fonts/Poppins-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../../public/assets/fonts/Poppins-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../../public/assets/fonts/Poppins-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../../public/assets/fonts/Poppins-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../../../../public/assets/fonts/SFPro/SF-Pro-Text-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../../../../public/assets/fonts/SFPro/SF-Pro-Text-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../../../../public/assets/fonts/SFPro/SF-Pro-Text-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../../../../public/assets/fonts/SFPro/SF-Pro-Text-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "SF Pro";
}

.titleText {
  font-size: 100px;
  font-family: "SF Pro";
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  gap: 10px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
  min-width: 300px;
  width: auto;
  min-height: 300px;
  height: auto;
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Buttons */

.btnPrimaryText {
  color: #fff;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.17px;
}

.btnHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btnPrimary {
  padding: 10px 20px;
  flex: 1;
  border: none;
  border-radius: 10px;
  background: var(--CTA, #8c8cf9);
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.15s ease,
    box-shadow 0.25s ease;
}

.btnPrimary:hover {
  background-color: #6a6af5;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btnSecondaryText {
  color: #000;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.17px;
}

.btnSecondary {
  padding: 10px 20px;
  flex: 1;
  border: none;
  border-radius: 10px;
  background: var(--CTA, #e6e6e6);
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.15s ease,
    box-shadow 0.25s ease;
}

.btnSecondary:hover {
  background-color: #cecece;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btnSvg {
  display: flex;
  width: 46px;
  height: 46px;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background: var(--CTA, #8c8cf9);
  transition: background-color 0.25s ease, transform 0.15s ease,
    box-shadow 0.25s ease;
}

.btnSvg:hover {
  background-color: #6a6af5;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btnWSvg {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 100px;
  background: var(--CTA, #8c8cf9);
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.15s ease,
    box-shadow 0.25s ease;
}

.btnWSvg:hover {
  background-color: #6a6af5;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btnAttachText {
  color: #374151;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.btnAttach {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 9px;
  background: #f9fafb;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.15s ease,
    box-shadow 0.25s ease;
}

.btnAttach:hover {
  background-color: #e5e7eb;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Containers */

.infoContainer {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
}

.infoContainerText {
  color: #454545;
  font-family: "Poppins";
  font-size: 13px;
  font-style: normal;
  font-weight: 00;
  line-height: normal;
  letter-spacing: 0.26px;
}

.infoContainerBlue {
  background: #e0f2ff;
  color: #454545;
}

.infoContainerBrown {
  background: #ffdbaa;
  color: #454545;
}

.infoContainerGray {
  background: #f9fafb;
  color: #374151;
}

.form-elements {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.form-elements h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: #4a90e2;
  outline: none;
}

.radio-group label,
.checkbox-group label {
  margin-right: 15px;
  font-weight: normal;
}

/* ----- NAVBAR STYLES ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro";
  font-weight: 400;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbarCenter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarMenuContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f3f3f3;
  padding: 5px 6px;
  border-radius: 30px;
}

.logo {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.navbarBrand {
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
}

.navbarLink {
  text-decoration: none;
  color: black;
  padding: 10px 14px;
  border-radius: 20px;
  font-size: 15px;
  transition: background 0.2s;
  font-weight: 300;
}

.navbarLink:hover {
  background-color: #d6d6d6;
}

.navbarLink.active {
  background-color: #cccccc;
  font-weight: 500;
}

.navbarNewTicket {
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.navbarNewTicket:hover {
  transform: none;
  box-shadow: none;
}

.notification {
  width: 20px;
  height: 20px;
  background-image: url("/public/assets/bell-icon.svg");
  background-size: cover;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 20px;
}

.profile:hover {
  background-color: #f0f0f0;
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profileDropdown {
  display: none;
  position: absolute;
  right: 20px;
  top: 60px;
  margin-top: 8px;
  padding: 12px;
  background-color: #fff;
  min-width: 220px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 100;
}

/* Dropdown links */
.profileDropdown a {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 14px;
  text-decoration: none;
  color: #333;
  border-radius: 10px;
}

.profileDropdown a:hover {
  background-color: #f2f2f2;
}

/* User info */
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.userInfo .profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #eee;
  margin-bottom: 8px;
}

.userInfo .name {
  font-weight: bold;
  margin: 0;
}
.userInfo .email {
  font-size: 12px;
  color: #555;
  margin: 2px 0;
}
.userInfo .role {
  font-size: 12px;
  color: #0073e6;
  font-weight: 500;
  margin: 0;
}

/* Logout */
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid #eee;
}
.logout a {
  text-align: center;
  align-items: center;
  width: 100%;
  color: #c00;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
}
.logout a:hover {
  background-color: #ffeaea;
}

/* ----- NAVBAR STYLES ----- */

/* ----- ICON STATUS ----- */

.status {
  font-family: "SF Pro";
  align-self: flex-end;
  padding: 3px 8px;
  width: fit-content;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  background-repeat: no-repeat;
  background-position: 6px center;
}

.medium,
.inProgress,
.pending,
.underReview {
  background: #fef9c3;
  color: #92400e;
}

.open,
.cancelled,
.high,
.rejected {
  background: #fee2e1;
  color: #7f1d1d;
}

.completed,
.closed,
.resolved {
  background: #dcfce7;
  color: #155724;
}

.requested,
.low {
  background-color: #badbff;
  color: #3300ff;
}

/* ----- ICON STATUS ----- */
