<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UCSC Help Desk</title>
    <link rel="stylesheet" href="../common/css/components.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbarLeft">
            <img src="../assets/icons/logo.svg" alt="UCSC Logo" class="logo">
            <span class="navbarBrand">UCSC HelpDesk</span>
        </div>

        <div class="navbarCenter">
            <div class="navbarMenuContainer">
                <a href="coun_ticket.php" class="navbarLink">Dashboard</a>
                <a href="coun_calender.php" class="navbarLink">Calendar</a>
                <a href="tickets.php" class="navbarLink">Tickets</a>
                <a href="coun_reports.php" class="navbarLink">Reports</a>
                <div class="btnHolder">
                    <button class="navbarNewTicket btnWSvg  btnPrimaryText">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="25"
                        viewBox="0 0 30 30"
                        fill="none"
                    >
                        <path
                        d="M13.75 16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75V16.25Z"
                        fill="#FEF7FF"
                        />
                    </svg>
                    <span class="">New Ticket</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="navbarRight">
            <div class="icon notification"></div>
            <div class="profile">
                <img src="../assets/icons/profile.svg" alt="Profile">
                <span>Profile Name</span>
            </div>
        </div>
    </nav>
</body>
</html>