<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Buttons</title>
    <link rel="stylesheet" href="../css/components.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="box">
          <h4>btnPrimary btnPrimaryText</h4>
          <div class="btnHolder">
            <button class="btnPrimary btnPrimaryText">Primary button</button>
          </div>
        </div>
        <div class="box">
          <h4>btnSecondary btnSecondaryText</h4>
          <div class="btnHolder">
            <button class="btnSecondary btnSecondaryText">
              Secondary button
            </button>
          </div>
        </div>
        <div class="box">
          <h4>btnWSvg btnPrimaryText</h4>
          <div class="btnHolder">
            <button class="btnWSvg btnPrimaryText">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                viewBox="0 0 30 30"
                fill="none"
              >
                <path
                  d="M13.75 16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75V16.25Z"
                  fill="#FEF7FF"
                />
              </svg>
              <span class="">New event</span>
            </button>
          </div>
        </div>
        <div class="box">
          <h4>btnAttach btnAttachText</h4>
          <div class="btnHolder">
            <button class="btnAttach btnAttachText">
              <span class="">New event</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
              >
                <path
                  d="M15.12 10.8002V13.6802C15.12 14.0621 14.9683 14.4283 14.6982 14.6984C14.4282 14.9684 14.0619 15.1202 13.68 15.1202H3.59997C3.21806 15.1202 2.85179 14.9684 2.58174 14.6984C2.31169 14.4283 2.15997 14.0621 2.15997 13.6802V10.8002M5.03997 7.20016L8.63997 10.8002M8.63997 10.8002L12.24 7.20016M8.63997 10.8002V2.16016"
                  stroke="#434343"
                  stroke-width="1.44"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="box">
          <h4>btnSvg</h4>
          <div class="btnHolder">
            <button class="btnSvg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
              >
                <path
                  d="M3.5 20.2793V14.2793L11.5 12.2793L3.5 10.2793V4.2793L22.5 12.2793L3.5 20.2793Z"
                  fill="white"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
