<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UCSC Help Desk</title>
    <link rel="stylesheet" href="../css/components.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <img src="../assets/icons/logo.svg" alt="UCSC Logo" class="logo">
            <span class="navbar-brand">UCSC Help Desk</span>
        </div>

        <div class="navbar-center">
            <div class="navbar-menu-container">
                <a href="#" class="nav-link active">Dashboard</a>
                <a href="#" class="nav-link">Calendar</a>
                <a href="#" class="nav-link">Tickets</a>
                <a href="#" class="nav-link">Forum</a>
                <button class="navbar-new-ticket">+ New Ticket</button>
            </div>
        </div>

        <div class="navbar-right">
            <div class="icon notification"></div>
            <div class="profile">
                <img src="../assets/icons/profile.svg" alt="Profile">
                <span>Profile Name</span>
            </div>
        </div>
    </nav>
</body>
</html>